html {
  font-size: 20px;
  background-color: #0b1424;
  color: #aec3d6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-shadow: 2px 2px 4px black; */
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #aec3d6;
  font-size: 1.25rem;
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
  border-bottom: 2px solid #aec3d6;
  display: inline-block;
  padding: 5px 20px;
}

button {
  font-size: 0.75rem;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #25375c;
  color: #aec3d6;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.15);
  background-color: #aec3d6;
  color: #0b1424;
}

.flex {
  display: flex;
}

.bottom-border {
  padding-bottom: 10px;
  border-bottom: #25375c6f 5px dotted;
}

/* Header */

header {
  position: fixed;
  background-color: #0b1424;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 10px black;
  transition: top 0.2s;
}

header ul {
  justify-content: space-around;
}

header ul li {
  display: inline;
  font-weight: bold;
}

header a {
  transition: color 0.1s;
}

header a:hover {
  color: #25375c;
}

header img {
  display: none;
  width: 50px;
  margin-right: 10px;
}

#navScreen {
  display: none;
  flex-direction: column;
  align-items: end;
}

#navScreen a {
  padding-right: 15px;
  margin-bottom: -15px;
}

@media screen and (max-width: 650px) {
  header .flex {
      justify-content: right;
      align-items: center;
  }
  header ul li {
      display: none;
  }
  header img {
      display: inline;
  }
  #about {
      background-image: url("./images/Me.jpg");
      background-size: cover;
      position: relative;
      z-index: -2;
  }
  #about::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: -2;
    }
  #about img {
      display: none;
  }
  #about h2,
  #about p {
      color: #aec3d6;
      z-index: 200;
  }
  #about h2 {
      border-bottom: 2px solid #aec3d6;
  }
  #contact {
      flex-direction: column;
      padding-bottom: 3rem;
  }
}

/* Banner */

#banner {
  position: relative;
  
  background-image: url("./images/BannerImg.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;
  z-index: -2;

  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #aec3d6;

  text-shadow: 2px 2px black;
}

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha channel (last value) for darkness */
}

#banner h1 {
  font-size: 4rem;
  margin-bottom: -10px;
  border-bottom: 8px solid #aec3d6;
  font-weight: bold;
}

#banner h1,
#banner h3 {
  z-index: 2;
}

@media screen and (max-width: 350px) {
  #banner h1 {
      font-size: 3rem;
  }
  #contact h3 {
      font-size: 1rem;
  }
  footer #footerEmail {
      display: none;
  }
}

/* Newsletter */



/* Portfolio */

#portfolio {
  margin-bottom: 30px;
  text-align: center;
}

#portfolio #projectContainer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: 25%;
  padding-top: 15%;
  background-size: cover;
  color: #aec3d6;
  text-align: left;
  filter: brightness(0.5);
  transition-property: filter;
  transition-duration: 0.3s;
  text-shadow: 2px 2px black;
  background-position: center;
}

.project:hover {
  filter: brightness(1);
}

.project h3 {
  font-size: 1.5rem;
  padding-left: 10px;
}

@media screen and (max-width: 800px) {
  #portfolio .flex {
      flex-direction: column;
  }
  .project {
      width: 100%;
      padding-top: 50%;
  }
}

#portfolio #gameDev {
  background-image: url("./images/RiverSunsetSmall.png");
}

#portfolio #thisWebsite {
  background-image: url("./images/ThisWebsite.png");
}

#portfolio #music {
  background-image: url("./images/LJSIcon.png");
}

#portfolio #newsletter {
  background-image: url("./images/Substack.png");
}

#portfolio #koineClothing {
  background-image: url("./images/KoineClothing.png");
}

#portfolio #marketing {
  background-image: url("./images/Marketing.png");
}

#portfolio #podcast {
  background-image: url("./images/TechnicallsLogo.png");
}

#portfolio #art {
  background-image: url("./images/NMEIcon3x.png");
}

#portfolio #art h3 {
  color: #0b1424;
  text-shadow: none;
}

/* About Me */

#about {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  overflow: hidden;
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.5);
}

#about .container {
  padding: 0 15px;
}

#about p {
  margin-top: -15px;
}

#about img {
  width: 50%;
  position: relative;
  top: 5rem;
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1250px) {
  #about p {
      font-size: 1.25rem;
      margin: 0 75px;
  }
  #about img {
      width: 75%;
  }
}

/* Contact */

#contact {
  background-color: #25375c;
  color: #aec3d6;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

#contact h2 {
  border-bottom: 2px solid #aec3d6;
  margin-bottom: -10px;
}

#contact img {
  width: 75px;
  background-color: #ffffff00;
  border-radius: 1vh;
  transition: background-color 0.2s;
}

#contact img:hover {
  background-color: #0b1424;
}

/* Footer */

footer {
  text-shadow: none;
  justify-content: space-between;
}

footer p {
  margin: 10px;
}